@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --section-padding: 11rem;
}

@media screen and (max-width: 1600px) {
  :root {
    --section-padding: 8rem;
  }
}

// var(--section-padding): 11rem;
$primary-color: #d86b00;
$primary-color-light: #ff7e00;
$primary-dark: #151515;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
}

body {
  background: $primary-dark;
}

h1 {
  font-size: 108px;

  @media screen and (max-width: 1600px) {
    font-size: 92px;
  }

  @media screen and (max-width: 1460px) {
    font-size: 72px;
  }
}

h2 {
  font-size: 68px;
}

section,
#footer {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

hr {
  border: 0;
  border-top: 5px solid #fe7800;
  margin-bottom: 2rem;
}

#navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  * {
    font-size: 28px;
    font-weight: bold;

    @media screen and (max-width: 1570px) {
      font-size: 24px;
    }

    @media screen and (max-width: 1400px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1170px) {
      font-size: 18px;
    }

    @media screen and (max-width: 1060px) {
      font-size: 18px;
    }
  }

  .logo {
    max-width: 349px;

    @media screen and (max-width: 1570px) {
      max-width: 250px;
    }

    @media screen and (max-width: 1400px) {
      max-width: 200px;
    }

    @media screen and (max-width: 1170px) {
      max-width: 170px;
    }

    @media screen and (max-width: 1060px) {
      max-width: 110px;
    }

    img {
      width: 100%;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 1rem;
    }
  }

  .account {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }
}

#servers {
  position: relative;
  padding-top: 3rem;
  background-image: url("../vectors/bg-game-servers.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1588px;
  background-position-y: -40px;
  background-position-x: 161px;

  img.dots-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  hr.imgs-top {
    margin: 1rem 0;
    margin-left: -var(--section-padding);
    max-width: 1271px;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1560px;

    .item {
      max-width: 481px;
      margin-top: 3rem;
      margin-left: 3rem;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        &:first-child {
          margin-left: 0;
        }

        @media screen {
        }
      }
    }
  }

  hr.imgs-bottom {
    margin-top: 5rem;
    margin-right: -var(--section-padding);
  }
}

#fivem {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-image: url("../vectors/bg-fivem-server-hosting.svg");
  background-repeat: no-repeat;
  background-size: 1588px;
  background-position-y: -40px;
  background-position-x: 161px;
  padding-top: 5rem;
  padding-bottom: 3rem;

  .content {
    max-width: 1264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .desc {
      font-size: 30px;
      text-align: right;
    }
  }

  .logo {
    max-width: 248px;

    img {
      width: 100%;
    }
  }

  img.dots-bottom-left {
    position: absolute;
    left: -61px;
    bottom: -321px;
  }
}

#blogs {
  padding-top: 1rem;

  hr {
    margin-left: -var(--section-padding);
    max-width: 470px;
  }

  .cards-container {
    margin-left: -2rem;
    margin-right: -2rem;

    .card {
      padding-left: 2rem;
      padding-right: 2rem;
      padding: 1rem 2rem;
      font-size: 36px;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        border-radius: 5px;
      }

      .body {
        background: #fff;
        text-align: center;
        padding: 2rem;
        padding-bottom: 5rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        * {
          color: $primary-color-light;
        }

        h3 {
          margin-bottom: 1rem;
        }

        .btn {
          font-size: 20px;
          padding: 0.75rem 3rem;
          margin: 18rem 0;
        }
      }
    }

    .slick-active {
      transition: 0.1s ease;
    }

    .slick-active:nth-of-type(2) {
      transform: scale(0.9);
    }

    .slick-active:nth-of-type(3) {
      transform: scale(0.85);
    }

    // [data-slick-index="1"] {
    //   transform: scale(0.9);
    // }
    // [data-slick-index="2"] {
    //   transform: scale(0.85);
    // }
  }
}

#games {
  position: relative;
  padding: 0;
  background: $primary-color-light;

  &::before {
    position: absolute;
    content: "";
    background-color: $primary-dark;
    top: -1px;
    height: 605px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 8% 15%);
  }

  .text-bg {
    background-image: url("../vectors/bg-best-games_text.svg");
    background-size: 1226px;
    background-repeat: no-repeat;
    background-position-y: 120px;
    background-position-x: 175px;

    .img-bg {
      background-image: url("../images/bg-best-games_img\ -\ Copy.png");
      background-repeat: no-repeat;
      padding-top: 15rem;
      padding-bottom: 7rem;
      padding-left: var(--section-padding);
      padding-right: var(--section-padding);

      .heading {
        font-size: 180px;
        line-height: 0.75;
      }

      .sub-heading {
        font-weight: 500;
        font-size: 49px;
        text-align: right;
      }

      .offer {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          padding: 1.25rem 2.25rem;
        }

        .text {
          font-size: 96px;
        }
      }
    }
  }
}

#locations {
  background: $primary-color-light;

  .map {
    max-width: 1507px;
    width: 100%;
  }
}

#footer {
  .navbar {
    font-size: 28px;
    font-weight: bold;

    .nav {
      .nav-item {
        margin-left: 7rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .offer {
    font-size: 29px;
  }

  .copyright {
    font-size: 28px;
    font-weight: bold;
  }
}
