@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
}

body {
  background: #151515;
}

h1 {
  font-size: 108px;
}

h2 {
  font-size: 68px;
}

section {
  padding-left: 11rem;
  padding-right: 11rem;
}

hr {
  border: 0;
  border-top: 5px solid #fe7800;
  margin-bottom: 2rem;
}

#navbar {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

#navbar * {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 1570px) {
  #navbar * {
    font-size: 24px;
  }
}

#navbar .logo {
  max-width: 349px;
}

@media screen and (max-width: 1570px) {
  #navbar .logo {
    max-width: 250px;
  }
}

#navbar .logo img {
  width: 100%;
}

#navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .nav li {
  margin-right: 1rem;
}

#navbar .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .account img {
  margin-right: 0.5rem;
}

#servers {
  position: relative;
  padding-top: 3rem;
  background-image: url("../vectors/bg-game-servers.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1588px;
  background-position-y: -40px;
  background-position-x: 161px;
}

#servers img.dots-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

#servers hr.imgs-top {
  margin: 1rem 0;
  margin-left: -11rem;
  max-width: 1271px;
}

#servers .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1560px;
}

#servers .img-container img {
  max-width: 481px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 8px;
}

#servers .img-container img:first-child {
  margin-left: 0;
}

#servers hr.imgs-bottom {
  margin-top: 5rem;
  margin-right: -11rem;
}

#servers .fivem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#servers .fivem .content {
  max-width: 1264px;
}

#servers .fivem .content .desc {
  font-size: 30px;
  text-align: right;
}

#servers .fivem .logo {
  max-width: 248px;
}

#servers .fivem .logo img {
  width: 100%;
}

#servers img.dots-bottom-left {
  position: absolute;
  left: -108px;
  bottom: -60px;
}
/*# sourceMappingURL=styles.css.map */